body {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items:center;
    min-height: 100vh;
    background-color: rgb(243, 181, 186);
}
button {

    background-color: rgb(177, 97, 104);
    font-size: 12px;
    padding: 5px 20px;
    border-radius: 8px;
    color: white;
}

.buttonContainer {
    display: flex;
    justify-content: space-evenly;
    gap: 50px;

}

button:hover {
    background-color: rgb(155, 36, 74);
    color: white;
}
button:active {
    background-color: black;
    color: white;
}


#container {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
    border: 2px solid rgb(68, 31, 52);
}

.grid-item {
    border: 0.5px solid rgb(0, 0, 0);
    box-sizing: border-box;   
}

.active {
    background-color: black;
}

/* .activeColour {
    background-color: palevioletred;
} */